@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Maven Pro", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-gray-200;
  font-family: var(--font-sans);
  /* dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
 * */
}
